<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link rel="stylesheet" th:href="@{/assets/css/colorbox.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/My97DatePicker/skin/WdatePicker.css}"/>
<head th:include="fragments/head::header" />
<body>
<div class="col-sm-6">
    <div class="table-responsive">
        <table id="sample-table-3" class="table table-striped table-bordered table-hover">
            <tbody>
                <tr th:each="offer : ${offerList}">
                    <td th:text="${offer}" th:id="${offer}" onclick="offer(id)" ></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
function offer(id){
    window.open(id)
}
</script>
</body>
</html>