<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.ChannelStudentNoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.ChannelStudentNo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="new_oa_no" jdbcType="VARCHAR" property="newOa" />
  </resultMap>
</mapper>