<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.CostInfoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.CostInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="defaultCost" jdbcType="DECIMAL" property="defaultcost" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="costEnglish" jdbcType="VARCHAR" property="costenglish" />
    <result column="costChinese" jdbcType="VARCHAR" property="costchinese" />
    <result column="operator_no" jdbcType="VARCHAR" property="operatorNo" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
  </resultMap>
<!--  <select id="queryCosts" resultType="map">
    select id as studentNo,DATE_FORMAT(create_time,'%Y-%m-%d') as paymentDate,money as returnMoneyCny from cost_info
  </select>-->
  <!--导出测试使用sql-->
  <select id="queryCosts" resultType="map">
    select create_time as paymentDate,money as  returnMoneyCny,costChinese as costName from cost_info
  </select>
</mapper>