<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.DoubleSignInfoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.DoubleSignInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="double_sign_type" jdbcType="VARCHAR" property="doubleSignType" />
    <result column="double_sign_code" jdbcType="INTEGER" property="doubleSignCode" />
    <result column="nation_id" jdbcType="INTEGER" property="nationId" />
    <result column="nation_name" jdbcType="VARCHAR" property="nationId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
</mapper>