<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.PcPapersTypeInfoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.PcPapersTypeInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="papers_name" jdbcType="VARCHAR" property="papersName" />
    <result column="need_upload" jdbcType="BIT" property="needUpload" />
    <result column="papers_type" jdbcType="INTEGER" property="papersType" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="is_public" jdbcType="BIT" property="isPublic" />
  </resultMap>
</mapper>