<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.PlanInfoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.PlanInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="nation" jdbcType="INTEGER" property="nation" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
    <result column="operator_no" jdbcType="VARCHAR" property="operatorNo" />
    <result column="apply_type" jdbcType="INTEGER" property="applyType" />
    <result column="agency" jdbcType="INTEGER" property="agency" />
    <result column="add_status" jdbcType="BIT" property="addStatus" />
  </resultMap>
</mapper>