<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.StudentCostInfoMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.StudentCostInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
    <result column="operator_no" jdbcType="VARCHAR" property="operatorNo" />
    <result column="costChinese" jdbcType="VARCHAR" property="costchinese" />
    <result column="finalCost" jdbcType="DECIMAL" property="finalcost" />
    <result column="money" jdbcType="DECIMAL" property="money" />
  </resultMap>
    <insert id="insertStudentCost">
      insert into student_cost_info (student_name,student_no,create_time,update_time,delete_status,operator_no,costChinese,finalCost,money,costEnglish) values('',#{studentCostInfo.studentNo},now(),now(),false,'',#{studentCostInfo.costchinese},0,#{studentCostInfo.money},#{studentCostInfo.costEnglish})
    </insert>
  <select id="getStudentCostInfoVO" resultType="com.aoji.vo.StudentCostInfoVO">
    select student_no as studentNo,sum(money) as countMoney from student_cost_info where delete_status = 0 and student_no = #{studentNo} group by student_no
  </select>
</mapper>