<link rel="stylesheet" th:href="@{/assets/css/colorbox.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/My97DatePicker/skin/WdatePicker.css}"/>
<head th:include="fragments/head::header" />
<style>
    .Style{
        padding-left: 23px;
        padding-right: 19px;
        padding-top: 30px;
    }
</style>
<body>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <div th:include="fragments/left::left" class="sidebar" id="sidebar"></div>
        <form id="add">
            <div class="main-content">
                <div class="page-content Style">
                    <input id="studentNo" th:value="${studentNo}" type="text" name="studentNo" style="display: none"/>
                   <!-- <input id="id" th:value="${id}" type="text" name="id" style="display: none"/>-->
                    <div style="margin-top: 0px">
                        <label class="col-sm-3 blue control-label no-padding-right"> 费用中文名称：</label>
                        <input id="feeChinese" name="costchinese" class="col-sm-3" style="width: 168px ;height:30px" onclick=""/>
                    </div>
                    <div style="margin-top: 4px">
                        <label class="col-sm-3   blue  control-label no-padding-right"> 费用英文名称：</label>
                        <input id="feeEnglish" name="costEnglish" class="col-sm-3" style="width: 168px ;height:30px" onclick=""/>
                    </div>
                    <div style="margin-top: 6px">
                        <label class="col-sm-3  blue control-label no-padding-right"> 金额：</label>
                    <input id="amount" name="money" type="number" class="col-sm-3" style="margin-left:55px;width: 168px ;height:30px" onclick=""/>
                    </div>
                    <!--<div style="margin-top: 6px">
                        <label class="col-sm-3  blue control-label no-padding-right"> 录入时间：</label>
                        <input id="createTimeformat"  class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="createTime" type="text"  style="margin-left:27px;width: 168px ;height:30px" />
                    </div>
                    <div style="margin-top: 6px">
                        <label class="col-sm-3  blue control-label no-padding-right"> 修改时间：</label>
                        <input id="updateTimeformat" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="updateTime" type="text"  style="margin-left:27px;width: 168px ;height:30px" />
                    </div>-->
                    <div style="position:absolute;bottom:2px; right:20px;">
                        <button type="button" class="btn btn-primary" id="feeSave">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div th:include="fragments/js::js"></div>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/jquery.validate.zh-CN.js}"></script>
<!-- page specific plugin scripts -->
<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/My97DatePicker/WdatePicker.js}"></script>
<script th:src="@{/assets/js/jquery.dataTables.bootstrap.js}"></script>
<script th:src="@{/assets/js/temp.js}" charset="UTF-8"></script>
<script th:src="@{/business/workTable/fee.js}"></script>
<!--图片查看器-->
<script th:src="@{/assets/js/jquery.colorbox-min.js}"></script>
<script th:src="@{/layer/layer.js}"></script></body>