
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome-ie7.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/jquery-ui-1.10.3.custom.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/colorbox.css}" />
<link th:href="@{/assets/css/ace.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/ace-rtl.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/ace-skins.min.css}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" th:href="@{/My97DatePicker/skin/WdatePicker.css}"/>
<head th:include="fragments/head::header" />
<body>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <div th:include="fragments/left::left" class="sidebar" id="sidebar"></div>
        <div class="main-content">
            <div class="page-content">
                <div class="col-xs-12" >
                    <form method="post" id="edit">
                        <input id = "agentId" name="id" th:value="${ausAgent!=null}? ${ausAgent.id}" style="display: none"/>
                        <div class="form-group" style="height:32px">
                            <span style="display:inline-block;width:72px;text-align:right;">代理名称: </span>
                            <input id = "agentName" name="agentName" class = " col-sm-3" style="width: 230px;margin-top: 25px;height: 30px;" th:value="${ausAgent!=null}? ${ausAgent.agentName}" />
                        </div>
                    </form>
                    <div class="modal-footer" style="margin-top: 65px">
                        <button type="button" class="btn btn-primary" id="commissionAusAgent_submit" >保存</button>
                        <button type="button" class="btn btn-default" id="commissionAusAgent_back" >返回</button>
                    </div>

                </div>

            </div>
        </div>
        <div th:include="fragments/bottom::bottom"></div>
    </div>

    <a href="#" id="btn-scroll-up"
       class="btn-scroll-up btn btn-sm btn-inverse"> <i
            class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>

<!-- Modal备注 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>



<div th:include="fragments/js::js"></div>


<!-- page specific plugin scripts -->
<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/jquery.dataTables.bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.core-3.5.min.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.excheck-3.5.min.js}"></script>
<script th:src="@{/assets/js/temp.js}" charset="UTF-8"></script>
<script th:src="@{/bootstrap/js/star-rating.min.js}"></script>
<script th:src="@{/business/user/groupTree.js}"></script>
<!--ueditor-->
<script type="text/javascript" charset="utf-8" th:src="@{/UEditor/ueditor.config.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/UEditor/ueditor.all.min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/UEditor/lang/zh-cn/zh-cn.js}"></script>
<!--图片查看器-->
<script th:src="@{/assets/js/jquery.colorbox-min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script type="text/javascript">
    <!--
    $(function () {
        $("#commissionAusAgent_submit").click(function(){
            console.log($("#agentName").val())
            $.ajax({
                url: "/commissionAusAgent/save",
                type: "post",
                data: $("#edit").serialize(),
                success: function (data) {
                    if(data){
                        if($("#agentId").val() == null || $("#agentId").val() == ""){
                            layer.msg("添加成功!",{time:1000},function(){
                                layer.closeAll();
                                parent.location.reload();
                            })
                        }else{
                            layer.msg("修改成功!",{time:1000},function(){
                                layer.closeAll();
                                parent.location.reload();
                            })
                        }

                    }
                }
            });
        })
        $("#commissionAusAgent_back").click(function(){
            layer.closeAll();
            parent.location.reload();
        })
    });
    -->
</script>
</body>
</html>